@import '../../App.scss';

.section2 {
  width: 80%;
  margin: auto;
  margin-top: 80px;
  display: grid;
  place-items: center;

  > button {
    margin-bottom: 100px;
    background: #2d85f3;
    color: #fff !important;
    padding: 18px 34px;
    line-height: 1em;
    outline: 0;
    border: 0 !important;
    border-radius: 10px;
  }
}
.section2__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 120px 70px;
  margin-bottom: 30px;
}
.card {
  > img {
    width: 800px;
    z-index: -1;
  }
}
.field-label-hidden {
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.65;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'SupercellText-Bold', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #fb4a9d;
}
.para {
  color: black;
  font-size: 1.4rem;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .section2__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px 70px;
    margin-bottom: 30px;
  }

  .card {
    > a {
      > span {
        width: 100% !important;
        margin: auto !important;
      }
    }
  }
  .games__image {
    width: 100%;
    height: 400px !important;
    margin: auto;
    margin-bottom: 18px;
    // height: auto;
  }
}
@media (max-width: 480px) {
  .section2 {
    width: 90%;
    margin: auto;
    margin-top: 40px;
  }
  .para {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .section2__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px 0px;
    margin-bottom: 30px;
  }
  .card {
    > a {
      > span {
        width: 100% !important;
        margin: auto !important;
      }
    }
  }
  .games__image {
    width: 100%;
    height: 300px !important;
    margin: auto;
    margin-bottom: 18px;
    // height: auto;
  }
}
