@import '../../App.scss';

.section3 {
  background: #238cf0
    url(https://cdn.supercell.com/supercell.com/210317084414/all/themes/supercell/img/18/bg_wmg_brawlstars.jpg)
    no-repeat;
  background-size: 100% auto;
  background-position: top left;
  height: 100%;

  @extend .flex;
  justify-content: space-around;
}

.section3__left {
  // flex: 0.9;
  > h1 {
    color: white;
    margin-bottom: 20px;
  }
  > p {
    color: white;
    margin-bottom: 35px;
    width: 600px;
  }
  > button {
    font-size: 13px;
    padding: 15px 41px;
    border-radius: 8px;
    background-color: #fff;
    color: #000 !important;
    font-weight: 600;
  }
}
.section3__right {
  flex: 0.6;
  img {
    width: 600px;
    height: 800px;
    margin: 0 auto;
  }
}
